@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
    font-family: 'Overpass Mono';
}

/* Estilos para el track */
::-webkit-scrollbar {
    width: 2px;
    /* Ancho de la barra */
}

::-webkit-scrollbar-thumb {
    background: #22c55e;
    /* Color del thumb */
}

::-webkit-scrollbar-track:hover {
    background: #ddd;
    /* Color del track al pasar el mouse */
}